@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center col-6 m-auto mt-2 border rounded">
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-group-item-action"><a asp-page="Index">Index Page</a></li>
		<li class="list-group-item list-group-item-action"><a asp-page="About">About Page</a></li>
		<li class="list-group-item list-group-item-action"><a asp-page="Test">Test Page</a></li>
		<li class="list-group-item list-group-item-action"><a asp-page="./OtherPages1/Test">OtherPages1 / Test Page</a></li>
		<li class="list-group-item list-group-item-action"><a asp-page="./OtherPages2/Test">OtherPages2 / Test Page</a></li>
	</ul>
</div>